.Lines {
  .line {
    position: absolute;
    background: linear-gradient(30deg, #2a2f3b, #242833);
    width: 32px;
    z-index: 0;
    animation: moveLine 10s infinite linear;
    transform-style: preserve-3d;
    perspective: 500px;
  }
}
@keyframes moveLine {
  0% {
    opacity: 0.5;
    transform: translate(100%, 0%) rotateY(0deg);
    height: 30%;
  }

  50% {
    transform: translate(100%, 100%) rotateY(180deg);
  }

  100% {
    opacity: 0.9;
    transform: translate(200%, 200%) rotateY(0);
    height: 80%;
  }
}
