.Lines {
  .line {
    opacity: 0;
    position: absolute;
    background-color: rgb(67, 82, 79);
    width: 2px;
    height: 100%;
    transform: rotate(35deg);
    z-index: 0;
    top: -150px;
    animation: moveLine infinite 8s;
    &::after {
      content: "";
      bottom: 0;
      right: -4px;
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: red;
      border-radius: 50%;
    }
  }
}
@keyframes moveLine {
  0% {
    transform: translate(700px, -700px) rotate(45deg);
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    transform: translate(0, 0) rotate(45deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
