@use "variables" as v;
.tech {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;

    &.trigger-animation .fillValue {
      animation: fillValue 1.6s ease-in-out forwards;
    }
    li {
      display: flex;
      flex-direction: row;
      background-color: red;
      width: 600px;
      opacity: 0;
      margin-bottom: 10px;
      .techName {
        width: 150px;
        background-color: #54b3ac;
        font-family: "Roboto";
        color: white;
        padding: 7px;
        transition: 0.4s;
        &:hover {
          background-color: #428580;
        }
      }
      .value {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        background-color: rgb(233, 235, 233);
        overflow: hidden;
        z-index: 10;
        .fillValue {
          left: 0;
          transform: translateX(-500px);
          position: absolute;
          background-color: v.$light_blue;
          height: 100%;
          z-index: -10;
        }
      }
    }
  }
  .note {
    padding: 30px 30%;
    font-size: 18px;
    font-family: "Roboto";
    opacity: 0;
    animation: fade-in-text 0.5s forwards ease-out;
    animation-delay: 2s;
  }
}

@keyframes fillValue {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-in-bars {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
